<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/Styles.css" />
    <title>Home</title>
</head>
<body>
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img class="iconoMenu"src="/Images/iconomenu2.png" alt="Menu"></label>
        <h1 class="name">Fernando Prada | Programador</h1>
        <nav class="menu">
            <ul>
                <li><a href="#proyectos">Acerca de mi</a></li>
                <li><a href="#contacto">Experiencia</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="#contacto">Proyectos</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        
        <div class="container">
            <div class="square"></div>
            <div class="square1"></div>
            <img class="circle"src="/Images/imgPad.png" alt="">
        </div>

        <div class="container_nameProgrammer">
            <div class="Circle_name">Fernando Prada</div>
            <div class="Circle_Programmer">Programador</div>
        </div>



    </main>



</body>
</html>